{% extends 'base.html.twig' %}

{% block title %}Faire part naissance{% endblock %}

{% block main %}
    <div class="container mt-4">
        <h1>Faire part de naissance</h1>
        <div class="row flex">
            {% for faire_part in faire_parts %}{#boucle pour afficher tous les produits du tableau#}
                <div class="col-sm-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                <a href="{{ path('public/faire_part/show', {'id':faire_part.id}) }}">{{ faire_part.name }}</a>
                            </h2>
{#
                            <p class="card-text">{{ faire_part.description }}</p>
#}
                            <div class="text-primary" style="font-weight:bold; font-size: 2rem;">{{ faire_part.price }}€</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

