{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <div class="jumbotron text-center">
        <h1 class="card-title">À mon image</h1>
        <p class="card-text">Immortalisez vos souvenirs avec des créations uniques et entièrement personnalisées</p>
    </div>
{% endblock %}

