{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <div class="bg-secondary text-center">
        <h1>À mon image</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt ea ipsam molestias, natus nobis quae, quam quis repellat sed unde ut vitae voluptates. Dignissimos recusandae sapiente sunt velit voluptatibus.</p>
    </div>
{% endblock %}

