{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <div class="bg-light text-center">
        <h1 class="pt-3">À mon image</h1>
        <p class="pb-3">Immortalisez vos souvenirs avec des créations uniques et entièrement personnalisées</p>
    </div>
{% endblock %}

